/module/OAuth/App/oauth-dao/target
/module/OAuth/App/oauth-model/target
/module/OAuth/App/oauth-dao/*.iml
/module/OAuth/App/oauth-model/*.iml
/module/OAuth/App/oauth-rest/target
/module/OAuth/App/oauth-rest/oauth-rest.iml
/module/OAuth/App/oauth-service/target
/module/OAuth/App/oauth-service/oauth-service.iml
/module/OAuth/App/oauth-web/oauth-web.iml
/module/OAuth/App/oauth-web/target
/module/OAuth/App/target
/module/OAuth/App/main-web/main-web.iml
/module/OAuth/App/main-web/target
/module/OAuth/App/service-rest/target
/module/OAuth/App/service-rest/service-rest.iml
/module/OAuth/App/service-rest/dao/target
/module/OAuth/App/service-rest/dao/dao.iml
/module/OAuth/App/service-rest/model/target
/module/OAuth/App/service-rest/model/model.iml
/module/OAuth/App/service-rest/rest/target
/module/OAuth/App/service-rest/rest/rest.iml
/module/OAuth/App/service-rest/service/target
/module/OAuth/App/service-rest/service/service.iml
/module/OAuth/App/client-html/client-html.iml
/module/OAuth/App/client-html/target
/module/OAuth/App/client-react/.vscode
/module/OAuth/App/client-react/node_modules
/module/OAuth/App/client-react/target
/module/OAuth/App/service-rest/jax-rs/target
/module/OAuth/App/client-react/client-react.iml
/module/OAuth/App/client-react/build
/module/OAuth/App/service-rest/jax-rs/jax-rs.iml
